@inherits Umbraco.Web.Mvc.UmbracoViewPage<StackItem>
@using Bento.Core.Models;

<section class="wrapper style2">
    <div class="inner">
        <div class="grid-style">

            @foreach (var area in Model.Areas.Where(x => x.Content != null))
            {
                @Html.Partial($"~/Views/Partials/Bento/{area.Content.ContentType.Alias}.cshtml", area.Content)
            }

        </div>
    </div>
</section>