@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Core.Models.Blocks
@{
    var content = Model.Content as Quote;
}
<section class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>@content.Citation</p>
            <h2>@content.QuoteText</h2>
        </header>
    </div>
</section>